<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

        </head>
        <body style="background-color:#A9BDDB;">

 

              <!--<a class="anchor" id="what-benchmark"></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-4">
                      <div class="panel-body">
                        <h3>What is Benchmarking?</h3>
                        <h5 style="font-style:italic;">Up to ten dollars back for every dollar invested</h5>
                        <p> Bankers think about banking, property manager think about their tenants, and accountant look at the P&L, but no one looks up at the lights.  We find ways to turn your buildings infrastructure into investment opportunities?<br><br> 
                        We look at all of your aging equipment at say, what if?  What if we changes out this thermostat with a brand new one?  What if we upgrade the lighting?   If we did all of the projects for this building here is how the baseline (business as usual) case and the proposed (everything installed) case compare.<br><br>
                        This average building had pretty good lighting and HVAC to start with and look at thier opportunity.  As you can see after 10 years the dark green line has paid a lot more than the light green line.  How much extra money are you paying the utility company?
                        </p>
                      </div>
                    </div>                    

                    <div class="col-md-8">
                      <div class="panel-body">
                      <h3>Why Audit?</h3>
                        <a href="#"><img class = "img-responsive" style="padding: 2px 0px 2px 2px;" src="assets/cost-of-delay.png">The Cost of Delay - </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div> -->




              <a class="anchor" id="why-benchmark" style="padding-top:25px;"></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-8">
                      <div class="panel-body">
                        <h3>Why Benchmark?</h3>
                        <h5 style="font-style:italic;">Here are some of the reasons people turn to Bay Efficiency to benchmark their building.</h5>
                        <ul>
                          <li>State Law - California State Compliance with Assembly Bill (AB 1103)</li>
                          <li>Local Law – San Francisco – Existing Commercial Buildings Ordinance</li>
                          <li>To attract new tenants</li>
                          <li>To find out if there are energy opportunities in the building</li>
                          <li>To determine buildings value prior to going to market</li>
                        </ul>
                      </div>
                    </div>                    

                    <div class="col-md-4">
                      <div class="panel-body">
                      <h3>When do you have to benchmark for AB1103? </h3>
                        <a href="/assets/ab1103-trigger.pdf"><img class = "img-responsive pdf-style" src="assets/ab1103-trigger.png">What Triggers AB1103 Benchmarking</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>



              <!--<a class="anchor" id="who-benchmark"></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-4">
                      <div class="panel-body">
                        <h3>Who Should Benchmark?</h3>
                        <h5 style="font-style:italic;">Up to ten dollars back for every dollar invested</h5>
                        <p> Bankers think about banking, property manager think about their tenants, and accountant look at the P&L, but no one looks up at the lights.  We find ways to turn your buildings infrastructure into investment opportunities?<br><br> 
                        We look at all of your aging equipment at say, what if?  What if we changes out this thermostat with a brand new one?  What if we upgrade the lighting?   If we did all of the projects for this building here is how the baseline (business as usual) case and the proposed (everything installed) case compare.<br><br>
                        This average building had pretty good lighting and HVAC to start with and look at thier opportunity.  As you can see after 10 years the dark green line has paid a lot more than the light green line.  How much extra money are you paying the utility company?
                        </p>
                      </div>
                    </div>                    

                    <div class="col-md-8">
                      <div class="panel-body">
                      <h3>Why Audit?</h3>
                        <a href="#"><img class = "img-responsive" style="padding: 2px 0px 2px 2px;" src="assets/cost-of-delay.png">The Cost of Delay - </a>
                      </div>
                    </div>



                  </div>
                </div>
              </div>-->

              <%= render 'layouts/others_are_saying' %>





                <%= render 'layouts/recent_clients' %>
                <%= render 'layouts/navbar_footer' %>
                <%= render 'layouts/modals' %>
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>