<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
        </head>
        <body>
 
                <div class = "navbar navbar-inverse navbar-static-top">
                        <div class = "container">                               
                                <div class="navbar-header">
                                  <a href="#" class="brand" ><img style="padding: 2px 0px 2px 2px;" src="assets/bayefficiency_logo.png"></a>
                                  <a href="#" class="brand-text">BAY EFFICIENCY</a>
                                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                                <li class = "active"><a href = "#">Home</a></li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Energy Audits<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu">
                                                      <li><a href = "#">Why Audit?</a></li>
                                                      <li><a href = "#">What is an Energy Audit?</a></li>
                                                      <li><a href = "#">Where do the savings come from?</a></li>
                                                      <li><a href = "#">How to select an Energy Auditor</a></li>
                                                      <li><a href = "#">Easier Incentives</a></li>
                                                      <li><a href = "#">Leasing Expertise</a></li>
                                                    </ul>
                                                </li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Benchmarking<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu">
                                                      <li><a href = "#">What is Benchmarking?</a></li>
                                                      <li><a href = "#">Why Benchmark?</a></li>
                                                      <li><a href = "#">Who needs to Benchmark?</a></li>
                                                      <li><a href = "#">AB1103</a></li>
                                                      <li><a href = "#">San Francisco</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href = "#contact" data-toggle="modal" >Contact</a></li>
                                                <li><a href = "#">Client Login</a></li>                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>

              <div style="background: url('assets/city_view.png'); background-repeat:no-repeat; background-position: top center;">
                <div class="container" >
                  <div class="jumbotron" style="min-height:50px; padding: 0 0 0 0; background-color: transparent; padding-top:25px;">
                    <center>
                     
                    <h1 class="layer-top" style="font-size:38px; color:#FFF;">Unsure if your building is energy-efficient?  We can help.</h1>
                    
                    <!--<a class="btn btn-default layer-top">Watch Now!</a>
                    <a class="btn btn-info layer-top">Tweet it!</a></center>
                    <p class="layer-top">This is the text that whootay duddy can write while building the website.</p>-->
                    
                  </div>
                </div>


                <div class = "container" style="min-height:451px;">
                  <div class = "row">
                    <div class = "col-md-4">
                      <div class="circle-btn">
                        <h3 class="text-center"><a href = "#" class="circle-btn-text"><br><br><br>Up to ten <br> dollars back <br> for every dollar <br> invested</a></h3>
                        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        <a href = "#" class = "btn btn-default">Read More</a>-->
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="circle-btn">
                        <h3 class = "text-center"><a href = "#" class="circle-btn-text";><br><br><br>Easy to read<br> report and <br>recommendations</a></h3>
                        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        <a href = "#" class = "btn btn-default">Read More</a>-->
                        </div>
                      </div>
                    <div class = "col-md-4">
                      <div class="circle-btn">
                       <h3 class="text-center"><a href = "#" class="circle-btn-text";><br><br><br>Hassle Free <br>Data Collection<br> and Benchmarking</a></h3>
                        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                       <a href = "#" class = "btn btn-default">Read More</a>-->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
 
                <div class = "navbar navbar-default navbar-fixed-bottom">
                  <div class = "container">
                    <p class = "navbar-text pull-left">Site built by Ty Clark</p>
                    <a href="http://www.bayefficiency.com"class = "navbar-btn btn-danger btn pull-right">Subscribe on YouTube</a>
                  </div>
                </div>

                <div class = "modal fade" id="contact" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Contact Bay Efficiency</h4>
                      </div>
                      <div class = "modal-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      </div>
                      <div class="modal-footer">
                        <a class = "btn btn-default" data-dismiss="modal">Close</a>
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>