<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body style="margin-bottom:120px;">
 
                <div class = "navbar navbar-inverse navbar-static-top">
                        <div class = "container">
                               
                                <div class="navbar-header"><a href="#" class="navbar-brand">Tech Site</a>
                                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button></div>
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                                <li class = "active"><a href = "#">Home</a></li>
                                                <li><a href = "#">Blog</a></li>
                                                <li class = "dropdown">
                                                       
                                                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Social Media <b class = "caret"></b></a>
                                                        <ul class = "dropdown-menu">
                                                                <li><a href = "#">Twitter</a></li>
                                                                <li><a href = "#">Facebook</a></li>
                                                                <li><a href = "#">Google+</a></li>
                                                                <li><a href = "#">Instagram</a></li>
                                                        </ul>
                                               
                                                </li>
                                                <li><a href = "#">About</a></li>
                                                <li><a href = "#contact" data-toggle="modal" >Contact</a></li>
                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>


                <div class="container">
                  <div class="jumbotron">
                    <center><h1>Hello, World!</h1>
                    <p>This is the text that whootay duddy can write while building the website.</p>
                    <a class="btn btn-default">Watch Now!</a>
                    <a class="btn btn-info">Tweet it!</a></center>
                  </div>
                </div>


                <div class = "container">
                  <div class = "row">
                    <div class = "col-md-4">
                      <h3><a href = "#">$500 Gaming PC Build</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <a href = "#" class = "btn btn-default">Read More</a>
                    </div>

                    <div class = "col-md-4">
                      <h3><a href = "#">$500 Gaming PC Build</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <a href = "#" class = "btn btn-default">Read More</a>
                    </div>

                    <div class = "col-md-4">
                      <h3><a href = "#">$500 Gaming PC Build</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <a href = "#" class = "btn btn-default">Read More</a>
                    </div>


                  </div>
                </div>
 
                <div class = "navbar navbar-default navbar-fixed-bottom">
                  <div class = "container">
                    <p class = "navbar-text pull-left">Site built by Ty Clark</p>
                    <a href="http://www.bayefficiency.com"class = "navbar-btn btn-danger btn pull-right">Subscribe on YouTube</a>
                  </div>
                </div>

                <div class = "modal fade" id="contact" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Contact Bay Efficiency</h4>
                      </div>
                      <div class = "modal-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      </div>
                      <div class="modal-footer">
                        <a class = "btn btn-default" data-dismiss="modal">Close</a>
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>