<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
           <script type="text/javascript">
$(document).ready(function () {
$(".navbar-nav li a").click(function(event) {
$(".navbar-collapse").collapse('hide');
});
});
             </script>


        </head>
        <body style="background-color:#A9BDDB;">
 
                <div class = "navbar navbar-inverse navbar-fixed-top">
                        <div class = "container">                               
                                <div class="navbar-header">
                                  <a href="#" class="brand" ><img style="padding: 2px 0px 2px 2px;" src="assets/bayefficiency_logo.png"></a>
                                  <a href="projects" class="brand-text">BAY EFFICIENCY</a>
                                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                                <li><a href = "#">Home</a></li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Energy Audits<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu">
                                                      <li><a data-target=".navbar-collapse" href = "#why-audit">Why Audit?</a></li>
                                                      <li><a class="dropdown" href = "#">What is an Energy Audit?</a></li>
                                                      <li><a class = "dropdown-toggle" href = "#">Where do the savings come from?</a></li>
                                                      <li><a data-toggle = "dropdown" href = "#">How to select an Energy Auditor</a></li>
                                                      <li><a href = "#">Easier Incentives</a></li>
                                                      <li><a href = "#">Leasing Expertise</a></li>
                                                    </ul>
                                                </li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Benchmarking<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu">
                                                      <li><a href = "#">What is Benchmarking?</a></li>
                                                      <li><a href = "#">Why Benchmark?</a></li>
                                                      <li><a href = "#">Who needs to Benchmark?</a></li>
                                                      <li><a href = "#">AB1103</a></li>
                                                      <li><a href = "#">San Francisco</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href = "#contact" data-toggle="modal">Contact</a></li>
                                                <li><a href = "#">Client Login</a></li>                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>

              <div style="background: url('assets/city_view.png'); background-repeat:no-repeat; background-position: top center;">
                <div class="container" >
                  <div class="jumbotron" style="min-height:40px; padding: 0 0 0 0; background-color: transparent; padding-top:25px;">
                    <center>
                     
                    <h1 class="layer-top" style="font-size:38px; color:#FFF;">Unsure if your building is energy-efficient?  We can help.</h1>
                    
                    <!--<a class="btn btn-default layer-top">Watch Now!</a>
                    <a class="btn btn-info layer-top">Tweet it!</a></center>
                    <p class="layer-top">This is the text that whootay duddy can write while building the website.</p>-->
                    
                  </div>
                </div>


                <div class = "container hidden-xs hidden-sm" style="min-height:350px;">
                  <div class = "row">

                    <div class = "col-md-4 ">
                      <div class="circle-btn">
                        <h3 class = "text-center"><a href = "#" class="circle-btn-text";><br><br><br>Easy to read<br> report and <br>recommendations</a></h3>
                        </div>
                      </div>

                    <div class = "col-md-4">
                      <div class="circle-btn">
                        <h3 class="text-center"><a href = "#recent-clients" class="circle-btn-text"><br><br><br>Millions<br>of Square Feet<br>Audited</a></h3>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="circle-btn">
                       <h3 class="text-center"><a href = "#" class="circle-btn-text";><br><br><br>Hassle Free <br>Data Collection<br> and Benchmarking</a></h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              

            
            <div class="container hidden-xs" style="padding-top:15px;" ><!--hidden-xs-->
              <div class="panel" >
                

                      
                      <div class="row" >
                        
                        <div class = "col-md-4">
                          <div class="panel-body">
                          <h3>What others are saying:<h3>
                          </div>
                        </div>
                        
                        <div class = "col-md-8">
                          <div class = "panel-body">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel" ><!--data-interval="7000"-->
                              <div class="carousel-inner" style="height:150px">


                                <div class="item active">
                                  <div>
                                    <h3>"The system you designed has proven itself functionally, and has now paid for itself.  From now on, it will save us at least $20,000 annually."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Their recommendations were clearly presented and very useful."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"We hired Ty Clark of Bay Efficiency in 2013 to perform an energy audit as required by the Dept of the Environment.  I googled engineers in the SF area and Ty's webpage stood out.  It was great working with Ty and I recommend him."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Thank you for the excellent service in helping us transform our needs into a coherent solution."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"He was extremely busy, but extended the deadline with the City and completed the audit without any hitches."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"As an HVAC engineer myself, I consult with Ty when it comes to Energy Star building benchmarking from time to time. "<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"The sense of being good stewards of the environment through renewable, environmentally sound technology should not go without mention and acknowledgement.  It is an intangible benefit, but real."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Ty also worked with the SF Environment Auditor to facilitate a rebate after we changed out some of our lighting."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"He is quick to respond to my inquiries and gives me good advice.  Recommended."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"I found the personnel of BE to be highly professional in their relations w/ myself and my tenants, did the energy usage audit in a timely manner."<h3>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>

            </div>




              <a class="anchor" id="why-audit"></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">
                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>Why Audit?</h3>
                        <a href="assets/execsummary-sample.pdf"><img class = "img-responsive" style="padding: 2px 0px 2px 2px;" src="assets/execsummary-thumb.png">View Sample Executive Summary</a>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>Energy Audits make more profitable buildings</h3>
                        <h5 style="font-style:italic;">Up to ten dollars back for every dollar invested</h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu turpis a sem interdum suscipit sed vel justo. Quisque blandit dui sed egestas pretium. Nullam sollicitudin velit ipsum, id volutpat tellus finibus sed. Fusce auctor ut mi ac faucibus. Sed sagittis, massa eu finibus aliquam, libero mauris facilisis leo, a viverra purus orci at sapien. Donec non elit ut tellus finibus placerat. Donec finibus ultrices elit at tincidunt. Cras consequat viverra odio, vitae ultricies nulla porttitor condimentum. Nullam tincidunt vitae purus eget porttitor. Aliquam sit amet nisi eget metus lobortis aliquet eu eget neque. Suspendisse venenatis tellus nec imperdiet finibus. Ut in enim ac nulla porta consequat ac vitae dolor. Quisque luctus dictum nisl vel tempor.<br><br>

                        Maecenas facilisis sapien viverra lorem finibus elementum. Pellentesque sed dui nisl. Etiam id justo ac ligula placerat tincidunt nec sed metus. Donec suscipit nibh magna, semper interdum ex gravida ut. Ut blandit imperdiet sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus ut nunc rhoncus, pulvinar orci quis, varius sapien. Quisque blandit turpis eu dolor efficitur, vitae tincidunt risus condimentum. Nullam elementum, ex et semper pellentesque, erat quam placerat mi, ac sodales urna nisi quis erat. Integer augue massa, dictum ut justo ut, ornare semper mi.<br><br>

                        Proin imperdiet rhoncus urna a ullamcorper. Aliquam at ligula sit amet neque blandit vulputate et vel neque. Mauris vestibulum vehicula enim a viverra. Nulla in tortor urna. Donec porta ipsum a diam interdum gravida. Donec et ligula efficitur, sollicitudin purus sit amet, feugiat justo. Duis ut auctor velit, vitae tempus lectus. Ut nisi nisl, viverra vitae egestas at, luctus ut urna. Nulla egestas luctus purus nec tempus. Cras lacinia ligula sapien, non bibendum lectus commodo in. Aenean bibendum blandit enim, id posuere lectus iaculis quis. Sed eget nunc mollis, dignissim diam eget, pharetra nisl. Phasellus volutpat eros nisl. Nunc interdum lobortis mi, eu interdum nisl tincidunt vitae. Integer sed ullamcorper nisl. Ut blandit massa at tincidunt dapibus.</p>
                      </div>


                    </div>


                  </div>
                </div>
              </div>


            <a class="anchor" id="recent-clients"></a>
            <div class="container " style="padding-top:15px;" ><!--hidden-xs-->
              <div class="panel " >
                <div class="row">
                  
                  <div class = "col-md-4">
                    <div class="panel-body">
                    <h3>Recent clients:<h3>
                    </div>
                  </div>
                  
                  <div class = "col-md-8">
                    <div class = "panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel" ><!--data-interval="7000"-->
                        <div class="carousel-inner" style="height:150px">


                              <div class="item active">
                                <div>
                                  <img src="assets/client/cbre-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/cac-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/wyndham-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/walgreens-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/joie-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/byer-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/emcor-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/cornish-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>
                                                                                                                                                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

                <div class = "navbar navbar-default navbar-fixed-bottom" id="navbar-footer" style="background-color:#5D93D2;">
                  <div class = "container">
                    <a href="#contact" data-toggle="modal" class = "navbar-btn btn-danger btn pull-right">Contact Bay Efficiency</a>
                  </div>
                </div>

                <div class = "modal fade" id="contact" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Contact Bay Efficiency</h4>
                      </div>

                      <div class = "modal-body">
                        <img style="padding: 2px 0px 2px 2px;" src="assets/head_shot_ty.png">
                        <p>Ty Clark, PE, CEM<br>(415) 730-2710<br>Ty.Clark@BayEfficiency.com</p>
                        <p>Ty Clark is a Professional Engineer (PE) and Certified Energy Manager (CEM).  He has 10 years of industry experience including performing and managing audits of 1000+ commercial and residential energy projects. Prior to Bay Efficiency, Ty worked for EMCOR Energy Services and the California Energy Commission. </p>
                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>