body {
	margin-bottom:100px;
	padding-top: 70px; 
}

.circle-btn {
	background-color: rgba(235,235,235,0.55); 
	border-radius:50%;
	width:250px;
	height:250px;
	margin: 0 auto;
}

.circle-btn-text{
	color:#383838; 
	line-height:25px;
}

.brand-text{
	height: 50px;
	margin: 0 auto;
	font-size: 25px;
	line-height: 5px;
	color: #777;
	vertical-align:text-bottom;
}

a:focus {
	outline:none!important;
}

.carousel-inner h3 {
	font-size: 18px;
	text-align: left;
	color:#055BA4;
}



/*.panel{
	background-color:#5D93D2;
	border-top-color: #383838;
	border-bottom-color:#FFFFFF;
	border-left-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-radius: 0px;
}*/


#recc {
   height: 250 px;
 }


.panel-body{
	padding-top:0px;
}

.layer_mid {
	position: relative;
	z-index: 50;

}

.layer_top {
	position: relative;
	z-index: 200;

}

a.anchor{
	display: block; 
	position: relative; 
	top: -70px; 
	visibility: hidden;
}


.pic-in-text{
	display:inline;
}

.pdf-style{
	border: 1px solid;
	border-color:#D0D0D0; 
}

