body {
	margin-bottom:800px;
}

.circle-btn {
	background-color: rgba(235,235,235,0.55); 
	border-radius:50%;
	width:250px;
	height:250px;
	margin: 0 auto;
}

.circle-btn-text{
	color:#383838; 
	line-height:25px;
}

.brand-text{
	height: 50px;
	margin: 0 auto;
	font-size: 25px;
	line-height: 5px;
	color: #777;
	vertical-align:text-bottom;
}

body { 
	padding-top: 70px; 
}

