<!-- MODALS-->
                <div class = "modal fade" id="contact" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Contact Bay Efficiency</h4>
                      </div>

                      <div class = "modal-body">
                        <p>If you have any questions or want to speak more specifically about opportunities at your building please contact us on the phone or by email.</p><br><br>
                        <img style="padding: 2px 0px 2px 2px;" src="assets/head_shot_james.png">
                        <p>James D'Albora, M.S.<br>General Manager<br>(510) 990-5753<br>James@BayEfficiency.com</p>
                        <p>James D'Albora has 7+ years of experience conducting and managing 1000+ energy-efficiency and solar PV audits.  He has a master's degree in Renewable Energy Policy Design and Building Sustainability.</p><br><br>

                        <img style="padding: 2px 0px 2px 2px;" src="assets/head_shot_ty.png">
                        <p>Ty Clark, PE, CEM<br>(415) 730-2710<br>Ty.Clark@BayEfficiency.com</p>
                        <p>Ty Clark is a Professional Engineer (PE) and Certified Energy Manager (CEM).  He has 11 years of industry experience including performing and managing audits of 1000+ commercial and residential energy projects.</p>
                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>



                <div class = "modal fade" id="TOU-rates" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>A Common Oversimplification that Leads to 100% Error.</h4>
                        <h5 style="font-style:italic;">How a claim that you will save $1000 may actually only save half.</h5>
                      </div>
                      <div class = "modal-body">
                        <p>Utility rates are complicated and most other auditors use the average energy cost to calculate savings.  This oversimplification has a big impact on your bottom line.</p>
                        <h5 style="font-weight:bold;">This is what goes wrong.</h5>
                        <p>In most buildings, the amount that you pay is based on what time energy is used.  Energy is most expensive during the afternoon (Peak Period) and the cheapest in the night.  This is called a Time-of-Use Rate schedule.<br><br>
                        The math to calculate how much a specific plug load will use based on a Time-of-Use rate schedule is quite complex.  So most auditors use a shortcut. They calculate average rate for the whole building.  This number is different for every building, but commonly it is around $0.18/kWh.<br><br>
                        Let’s say that there is a good project to turn off a piece of equipment in the middle of the night when everyone is gone.  This project saves energy during off-peak hours and so it only saves you money at the off peak rate, $0.09/kWh.<br><br>
                        Using the builing average $0.18/kWh instead of the avoided electric cost $0.09/kWh has a big impact on your bottom line.  If an auditor does not calculate the time-of-use avoided electric cost, for every $1000 of savings they claim you will only receive $500.</p>
                        <h5 style="font-weight:bold;">Bay Efficiency has your Back</h5>
                        <p>Bay Efficiency calculates the avoided electric cost for every individual project.  In fact, we print it out on every page. Here is where you can find it in the detail section:</p>
                        <img class = "img-responsive pdf-style" src="assets/avoided-electric-cost.png">

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="product-selection" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Experience</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"For comprehensive energy audits, the consultant should have broad experience on all types of energy efficiency projects, such as lighting, HVAC, building envelope, domestic hot water and energy equipment controls. Individuals responsible for preparing the audit should have extensive experience performing audits in facilities similar to yours. The Energy Commission’s staff recommends at least three years of experience."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="tenant-comfort" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Experience</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"For comprehensive energy audits, the consultant should have broad experience on all types of energy efficiency projects, such as lighting, HVAC, building envelope, domestic hot water and energy equipment controls. Individuals responsible for preparing the audit should have extensive experience performing audits in facilities similar to yours. The Energy Commission’s staff recommends at least three years of experience."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="simple-payback" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Experience</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"For comprehensive energy audits, the consultant should have broad experience on all types of energy efficiency projects, such as lighting, HVAC, building envelope, domestic hot water and energy equipment controls. Individuals responsible for preparing the audit should have extensive experience performing audits in facilities similar to yours. The Energy Commission’s staff recommends at least three years of experience."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="project-rank" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Experience</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"For comprehensive energy audits, the consultant should have broad experience on all types of energy efficiency projects, such as lighting, HVAC, building envelope, domestic hot water and energy equipment controls. Individuals responsible for preparing the audit should have extensive experience performing audits in facilities similar to yours. The Energy Commission’s staff recommends at least three years of experience."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class = "modal fade" id="staff-experience" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Experience</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"For comprehensive energy audits, the consultant should have broad experience on all types of energy efficiency projects, such as lighting, HVAC, building envelope, domestic hot water and energy equipment controls. Individuals responsible for preparing the audit should have extensive experience performing audits in facilities similar to yours. The Energy Commission’s staff recommends at least three years of experience."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="responsiveness" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Responsiveness</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"The consultant selected must be accessible and responsive to questions, concerns, and problems.  Even after the audit has been completed, difficulties can arise during the project bid stage or after the projects have been installed. That’s why the consultant must remain available, be accountable for the audit and demonstrate a track record of past responsiveness."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="conflict-of-interest" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency - No Conflicting Interests</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"Your consultant should be objective and dedicated to ensuring that the recommended projects are beneficial and cost-effective. If he represents a vendor or has a vested financial interest in your projects, his objectivity may be compromised.  This could result in recommending inappropriate equipment or overstating the value of the project. That’s why each proposed consultant should identify any financial relationships with equipment vendors or service companies."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="references" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency References</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"Preparing energy audits and installing projects are challenging tasks.  It is therefore important to check a consultant’s references carefully.  Consider only references pertaining to projects similar to yours. Ask consultants to provide information about projects that they designed, managed and commissioned.  Have them include the name of the organization, contacts, project description, project cost and savings, and consultant staff involved."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "modal fade" id="staff-availability" role="dialog">
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <div class ="modal-header"> 
                        <h4>Bay Efficiency Staff Availability</h4>
                      </div>

                      <div class = "modal-body">
                        <p style="font-style:italic;">"The availability of qualified staff is an important consideration when selecting a consulting firm. A company may have experience doing energy project work, but if they assign inexperienced staff to do the audit, the quality of the data collection and analysis may be compromised. When evaluating consultant proposals, ask for a listing of staff who will be working on your project."-California Energy Commission</p><br><br>
                        <p>Bay Efficnecy has audited millions of square feet of commericial real estate.  

                        </p>

                      </div>

                      <div class="modal-footer">
                        <a class = "btn btn-primary" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>