              <!--  <div class = "navbar navbar-default navbar-fixed-bottom" id="navbar-footer" style="background-color:#5D93D2;">
                  <div class = "container">
                    <a href="#contact" data-toggle="modal" class = "navbar-btn btn-danger btn pull-right">Contact Bay Efficiency</a>
                  </div>
                </div>-->