                <div class = "navbar navbar-inverse navbar-fixed-top">
                        <div class = "container">                               
                                <div class="navbar-header">
                                  <a href="/" class="brand" ><img style="padding: 2px 0px 2px 2px;" src="assets/bayefficiency_logo.png"></a>
                                  <a href="/" class="brand-text">BAY EFFICIENCY</a>
                                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                                <li><a href = "/" class="active">Home</a></li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Energy Audits<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu" role="menu">
                                                      <li><a href = "#why-audit" data-target="#">Why Audit?</a></li>
                                                      <li><a href = "#where-savings-come-from">Where do the savings come from?</a></li>
                                                      <li><a href = "#pitfalls-to-avoid">Pitfalls to Avoid</a></li>
                                                      <li><a href = "#auditor-criteria">Criteria to Select an Energy Auditor</a></li>
                                                      <!--<li><a href = "#">Easier Incentives</a></li>
                                                      <li><a href = "#">Leasing Expertise</a></li>-->
                                                    </ul>
                                                </li>
                                                <li class = "dropdown">
                                                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Benchmarking<b class = "caret"></b></a>
                                                    <ul class = "dropdown-menu">
                                                      <li><a href = "#">What is Benchmarking?</a></li>
                                                      <li><a href = "#">Why Benchmark?</a></li>
                                                      <li><a href = "benchmarking/#who-benchmark">Who needs to Benchmark?</a></li>
                                                      <li><a href = "#">AB1103</a></li>
                                                      <li><a href = "#">San Francisco</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href = "#contact" data-toggle="modal">Contact</a></li>
                                                <li><a href = "#">Client Login</a></li>                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>