            <div class="container hidden-xs" style="padding-top:15px;" ><!--hidden-xs-->
              <div class="panel" >
                

                      
                      <div class="row" >
                        
                        <div class = "col-md-4">
                          <div class="panel-body">
                          <h3>What others are saying:<h3>
                          </div>
                        </div>
                        
                        <div class = "col-md-8">
                          <div class = "panel-body">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel" ><!--data-interval="7000"-->
                              <div class="carousel-inner" style="height:150px">


                                <div class="item active">
                                  <div>
                                    <h3>"The system you designed has proven itself functionally, and has now paid for itself.  From now on, it will save us at least $20,000 annually."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Their recommendations were clearly presented and very useful."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"We hired Ty Clark of Bay Efficiency in 2013 to perform an energy audit as required by the Dept of the Environment.  I googled engineers in the SF area and Ty's webpage stood out.  It was great working with Ty and I recommend him."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Thank you for the excellent service in helping us transform our needs into a coherent solution."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"He was extremely busy, but extended the deadline with the City and completed the audit without any hitches."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"As an HVAC engineer myself, I consult with Ty when it comes to Energy Star building benchmarking from time to time. "<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"The sense of being good stewards of the environment through renewable, environmentally sound technology should not go without mention and acknowledgement.  It is an intangible benefit, but real."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"Ty also worked with the SF Environment Auditor to facilitate a rebate after we changed out some of our lighting."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"He is quick to respond to my inquiries and gives me good advice.  Recommended."<h3>
                                  </div>
                                </div>
                                <div class="item">
                                  <div>
                                    <h3>"I found the personnel of BE to be highly professional in their relations w/ myself and my tenants, did the energy usage audit in a timely manner."<h3>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>

            </div>