            <a class="anchor" id="recent-clients"></a>
            <div class="container " style="padding-top:15px;" ><!--hidden-xs-->
              <div class="panel " >
                <div class="row">
                  
                  <div class = "col-md-4">
                    <div class="panel-body">
                    <h3>Recent clients:<h3>
                    </div>
                  </div>
                  
                  <div class = "col-md-8">
                    <div class = "panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel" ><!--data-interval="7000"-->
                        <div class="carousel-inner" style="height:150px">


                              <div class="item active">
                                <div>
                                  <img src="assets/client/cbre-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/cac-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/wyndham-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/walgreens-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/joie-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/byer-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/emcor-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>

                              <div class="item">
                                <div>
                                  <img src="assets/client/cornish-logo.jpg" alt="" class="img-responsive center-block">
                                </div>
                              </div>
                                                                                                                                                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>